<form #newP2Form="ngForm" (ngSubmit)="enviar(newP2Form.value)" class="form-control">


  <div class="card" >
    <div class="card-header"><h4>¿Qué suele tomar en un día de consumo normal?</h4>
    <h6 class="text-muted">Elija una cantidad para los tragos que correspondan</h6>
    </div>
    <div class="card-body ">

      <table class="table ">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Tipo de bebida</th>
        <th scope="col">Cantidad por ocasión</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/cerveza_1.png"></th>
        <td class="align-middle font-weight-bold">Lata de cerveza </td>
        <td class="align-middle" >
          <select class="form-control input-lg  "
                      name="cerveza"
                      required
                      #t1="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/vino_1.png"></th>
        <td class="align-middle font-weight-bold">Copa de vino</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="vino"
                      required
                      #t2="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/corto_1.png"></th>
        <td class="align-middle font-weight-bold">Corto de licor</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="destilado"
                      required
                      #t3="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/shop_grande.png"></th>
        <td class="align-middle font-weight-bold">Shop grande</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="shop_grande"
                      required
                      #t4="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/vaso_vino.png"></th>
        <td class="align-middle font-weight-bold">Vaso de Vino (caña)</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="vaso_vino"
                      required
                      #t5="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/combinado_simple.png"></th>
        <td class="align-middle font-weight-bold">Combinado simple (piscola suave)</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="combinado_simple"
                      required
                      #t6="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/combinado_fuerte.png"></th>
        <td class="align-middle font-weight-bold">Combinado fuerte (CABEZÓN)</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="combinado_fuerte"
                      required
                      #t7="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/shop_pequeno.png"></th>
        <td class="align-middle font-weight-bold">Shop pequeño</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="shop_pequeno"
                      required
                      #t8="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_cerveza.png"></th>
        <td class="align-middle font-weight-bold">Botella de cerveza</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="botella_cerveza"
                      required
                      #t9="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_vino.png"></th>
        <td class="align-middle font-weight-bold">Botella de vino</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="botella_vino"
                      required
                      #t10="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/caja_vino.png"></th>
        <td class="align-middle font-weight-bold">Caja de vino (Tetrapack)</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="caja_vino"
                      required
                      #t11="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

      <tr>
        <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_licor.png"></th>
        <td class="align-middle font-weight-bold">Botella de licor</td>
        <td class="align-middle" >
          <select class="form-control input-lg "
                      name="botella_licor"
                      required
                      #t12="ngModel"
                      ngModel>
                <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
          </select>

        </td>
      </tr>

    </tbody>

  </table>




    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-success"
  [disabled]="t1.invalid && t2.invalid && t3.invalid && t4.invalid && t5.invalid
  && t6.invalid && t7.invalid && t8.invalid && t9.invalid && t10.invalid && t11.invalid
  && t12.invalid"
  >
    Siguiente</button>

  </form>
