<div class="card border-warning bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">3 cañas de vino + 1 lata de cerveza = <span class="text-uppercase font-weight-bold text-primary"> 5,5 tragos</span> </h5>
    <p class="card-text"></p>
  </div>
<div class="card-group d-flex flex-row">
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/vaso_vino.png">
    </div>

  </div>
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/vaso_vino.png">
    </div>

  </div>
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/vaso_vino.png">
    </div>

  </div>
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
  </div>

</div>
<div class="card-footer" >
  <div class="inline-block font-weight-bold ">
    <img class="img-fluid" style="max-height: 2rem;" src="../../../assets/images/tragos/cerveza_1.png">= 1 trago
    <img class="img-fluid" style="max-height: 2rem;" src="../../../assets/images/tragos/vaso_vino.png">= 1,5 tragos
  </div>
</div>
</div>
