<div class="card border-success" >
  <img id=cerveza class="card-img-top" src="../../../../assets/images/bajo/2_latas_cerveza.png">
  <div class="card-body text-success">
    <h5 class="card-title">máximo 2 tragos por ocasión</h5>
    <p class="card-text">Dos tragos es la cantidad de alcohol que su hígado puede resistir sin dañarse</p>
    <a id=boton class="btn btn-primary">más información</a>
  </div>
</div>

<br>

<div class="row pull-left">
  <button type="button" class="btn btn-primary" routerLink="/ib/b/b3">
    <h5>Siguiente</h5>
  </button>
</div>
