
<div class="card border-success mb-3" >
  <div class="card-header">RECOMENDACION 1</div>
  <div class="card-body">
    <h5 class="card-title">Tome máximo 2 tragos por ocasión</h5>
    <p class="card-text">Para mantener un consumo moderado, recuerde no sobrepasar dos tragos por ocasión</p>
    <button type="button" class="btn btn-info">Ver equivalencias de tragos</button>
  </div>

</div>

<br>

<div class="">
  <button type="button" class="btn btn-primary" routerLink="/ib/b/b3">
    <h5>Siguiente</h5>
  </button>
</div>
