<div class="card border-info bg-light mb-3">
  <h6 class="card-title">Cerveza</h6>

    <div class="card-group d-flex flex-row">

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.cerveza}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Lata</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">1 TRAGO</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.shop_grande}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Shop</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">3 TRAGOS</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.botella_cerveza}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Botella</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">3 TRAGOS</div>
        </div>
      </div>

    </div>
</div>

<div class="card border-info bg-light mb-3">
  <h6 class="card-title">Vino</h6>

    <div class="card-group d-flex flex-row">

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.vino}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Copa</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">1 TRAGO</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.vaso_vino}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Vaso</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">2 TRAGOS</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.caja_vino}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Tetrapack</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">8 TRAGOS</div>
        </div>
      </div>

    </div>
</div>


<div class="card border-info bg-light mb-3">
  <h6 class="card-title">Destilados</h6>

    <div class="card-group d-flex flex-row">

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.destilado}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Corto    de licor</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">1 TRAGO</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.combinado_simple}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Comninado Simple</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">1 TRAGOS</div>
        </div>
      </div>

      <div class="card border-light">
        <img class="img-fluid align-self-center" src="{{rutaImagenes.combinado_fuerte}}" style="max-height: 5rem;">
        <p class="card-text text-center inline-block">Combinado Fuerte</p>
        <div class="card-footer" >
          <div class="inline-block font-weight-bold text-center text-nowrap">2 TRAGOS</div>
        </div>
      </div>

    </div>
</div>
