<form (ngSubmit)="enviar()" class="form-control">

  <div>
    <label for="p1"><h4>¿Cuán frecuentemente toma 5 o más TRAGOS en un solo día?</h4></label>
    <br>
    <select class="form-control input-lg"
            [(ngModel)]="model"
            name="p1"
            id="p1"
            required
            #p1="ngModel">
      <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
    </select>

  </div>
  <br>

<app-tragos-equivalentes></app-tragos-equivalentes>
<!-- <app-t5cerveza></app-t5cerveza>
<app-t5vaso-vino></app-t5vaso-vino>
<app-t6piscola></app-t6piscola> -->

  <button type="submit" class="btn btn-success"
  [disabled]="p1.invalid">
    Siguiente</button>

  </form>
