<div class="card border-success mb-3" >
  <div class="card-header font-weight-bold">RECOMENDACION 2</div>
  <img id=cerveza class="card-img-top" src="../../../../assets/images/bajo/driving_drinking.jpg">
  <div class="card-body">
    <h5 class="card-title">No conduzca si ha bebido</h5>
    <p class="card-text">En Chile, la primera causa de accidentes de tránsito con resultado de muerte es el uso de alcohol</p>
  </div>
</div>


<br>

<div class="">
  <button type="button" class="btn btn-primary" routerLink="/">
    <h5>Terminar</h5>
  </button>
</div>
