<div class="card-group">
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">2 tragos</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">2 tragos</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">2 tragos</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
    </div>
    <div class="card-footer">
      <small class="text-muted">.</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
    </div>
    <div class="card-footer">
      <small class="text-muted">.</small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h5 class="card-text"> = 6 tragos </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">TOTAL</small>
      </div>
  </div>
</div>
