
<div class="card border-warning bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">3 piscolas fuertes = <span class="text-uppercase font-weight-bold text-primary"> 6 tragos</span> </h5>
    <p class="card-text"></p>
  </div>
<div class="card-group d-flex flex-row">
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>

  </div>
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>

  </div>
  <div class="card border-light">
    <div class="card-img-top">
      <img class="img-fluid" src="../../../assets/images/tragos/combinado_fuerte.png">
    </div>
  </div>

</div>
<div class="card-footer" >
  <div class="inline-block font-weight-bold ">
    <img class="img-fluid" style="max-height: 2rem;" src="../../../assets/images/tragos/combinado_fuerte.png">= 2 tragos
  </div>
</div>
</div>
