<div class="card-group">
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">1 trago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">1 trago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">1 trago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">1 trago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="" src="../../../assets/images/tragos/cerveza_1.png">
    </div>
    <div class="card-footer">
      <small class="text-muted">1 trago</small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h5 class="card-text"> = 5 tragos </h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">TOTAL</small>
      </div>
  </div>
</div>
