<form (ngSubmit)="enviar()" class="form-control">

  <div class="card" >
    <div class="card-header"><h4 class="">¿Con qué frecuencia consume alguna bebida alcoholica?</h4>
      <h6 class="text-muted">Por ejemplo cerveza, vino, piscola u otros tragos </h6>
    </div>
    <div class="card-body ">
      <select  class="form-control form-control-lg"

              [(ngModel)]="model"
              name="p1"
              id="p1"
              required
              #p1="ngModel">
        <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
      </select>

    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-success"
  [disabled]="p1.invalid"> Siguiente</button>

  </form>
