
<div class="card border-warning mb-3" >
  <div class="card-header font-weight-bold">RECOMENDACION 1</div>
  <div class="card-body">
    <h5 class="card-title">Reduzca un poco su consumo</h5>
    <p class="card-text">Le recomendamos disminuir a cuatro tragos máximo por ocasión</p>

    <app-lamina-riesgo-moderado4-tragos-ocasion></app-lamina-riesgo-moderado4-tragos-ocasion>

    <!-- <button type="button" class="btn btn-info">Ver equivalencias de tragos</button> -->

    <ng-template #popContent> <app-tragos-equivalentes></app-tragos-equivalentes> </ng-template>
    <button type="button" class="btn btn-info" placement="top"
            [ngbPopover]="popContent" popoverTitle="Ejemplo 5 o más de 5 tragos">
      Ver equivalencias de tragos
    </button>


  </div>

</div>

<br>

<div class="">
  <button type="button" class="btn btn-primary" routerLink="/ib/m/m3">
    <h5>Siguiente</h5>
  </button>
</div>
