<div class="card border-warning" >
  <img id=cerveza class="card-img-top" src="../../../../assets/images/bajo/2_latas_cerveza.png">
  <div class="card-body text-warning">
    <h4 class="card-title">Reduzca un poco su consumo</h4>
    <p class="card-text">Le recomendamos disminuir a cuatro tragos máximo por ocasión</p>
    <a id=boton class="btn btn-primary">más información</a>
  </div>
</div>

<br>

<div class="row pull-left">
  <button type="button" class="btn btn-primary" routerLink="/">
    <h5>Terminar</h5>
  </button>
</div>
