<form (ngSubmit)="almacenaPuntaje()" class="form-control">

  <div>
    <label for="p1"><h4>En una ocasión típica, ¿Cuántos tragos suele tomar?</h4></label>
    <h6 class="text-muted">Elija una cantidad para los tragos que correspondan</h6>

    <br>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">Tipo de bebida</th>
      <th scope="col">Cantidad por ocasión</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/cerveza_1.png"></th>
      <td class="align-middle font-weight-bold">Lata de cerveza </td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="cerveza"
                    name="t1"
                    id="t1"
                    required
                    #t1="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/vino_1.png"></th>
      <td class="align-middle font-weight-bold">Copa de vino</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="vino"
                    name="t2"
                    id="t2"
                    required
                    #t2="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/corto_1.png"></th>
      <td class="align-middle font-weight-bold">Corto de licor</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="destilado"
                    name="t3"
                    id="t3"
                    required
                    #t3="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/shop_grande.png"></th>
      <td class="align-middle font-weight-bold">Shop grande</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="shop_grande"
                    name="t4"
                    id="t4"
                    required
                    #t4="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/vaso_vino.png"></th>
      <td class="align-middle font-weight-bold">Vaso de Vino (caña)</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="vaso_vino"
                    name="t5"
                    id="t5"
                    required
                    #t5="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/combinado_simple.png"></th>
      <td class="align-middle font-weight-bold">Combinado simple (piscola suave)</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="combinado_simple"
                    name="t6"
                    id="t6"
                    required
                    #t6="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/combinado_fuerte.png"></th>
      <td class="align-middle font-weight-bold">Combinado fuerte (CABEZÓN)</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="combinado_fuerte"
                    name="t7"
                    id="t7"
                    required
                    #t7="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/shop_pequeno.png"></th>
      <td class="align-middle font-weight-bold">Shop pequeño</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="shop_pequeno"
                    name="t8"
                    id="t8"
                    required
                    #t8="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_cerveza.png"></th>
      <td class="align-middle font-weight-bold">Botella de cerveza</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="botella_cerveza"
                    name="t9"
                    id="t9"
                    required
                    #t9="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_vino.png"></th>
      <td class="align-middle font-weight-bold">Botella de vino</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="botella_vino"
                    name="t10"
                    id="t10"
                    required
                    #t10="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/caja_vino.png"></th>
      <td class="align-middle font-weight-bold">Caja de vino (Tetrapack)</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="caja_vino"
                    name="t11"
                    id="t11"
                    required
                    #t11="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <th scope="row"> <img class="card-img-top" src="../../../assets/images/tragos/botella_licor.png"></th>
      <td class="align-middle font-weight-bold">Botella de licor</td>
      <td class="align-middle" >
        <select class="form-control input-lg"
                    [(ngModel)]="botella_licor"
                    name="t12"
                    id="t12"
                    required
                    #t12="ngModel">
              <option *ngFor="let opcion of opciones" value="{{opcion.puntaje}}">{{opcion.texto}}</option>
        </select>

      </td>
    </tr>

  </tbody>

</table>

<!-- <button type="button" class="btn btn-secondary btn-sm btn-block">Ver más opciones</button> -->


  </div>

  <br>

  <button type="submit" class="btn btn-success"
  [disabled]="t1.invalid && t2.invalid && t3.invalid && t4.invalid && t5.invalid
  && t6.invalid && t7.invalid && t8.invalid && t9.invalid && t10.invalid && t11.invalid
  && t12.invalid">
    Siguiente</button>

  </form>


  <br>
  <div class="progress">
  <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
